

/*----------- Defaults------------*/
a
{
	text-decoration: none;
}
/*--------- Fonts ---------- */

p,a,h1,h2,h3,h4,h5,h6
{
	font-family: 'Open Sans', sans-serif;
}
.whitecol
{
	color: #fff;
}
.blackcol
{
	color: #000;
}
/*----------- Body Styling-------------*/

body
{
	background: rgb(0, 144, 255);
}
header
{

}
header *
{
	text-align: center;
}
header h2
{
	font-size: 2em;
}
header h4
{
	font-size: 1.5em;
	margin: 0.2em;
}
header h3
{
	font-size: 1.8em;
	margin: 0.2em;
}
header h2,h3,h4
{
	font-weight: 300;
}
.loginwrapper
{
	width: 500px;
	display: block;
	background: #dbdbdb;
	min-height: 300px;
	margin: 2em auto;
}
.loginwrapper a h4
{
	text-align: center;
	padding: 0.8em;
	background: rgb(42, 74, 153);
	color: #fff;
	font-weight: 500;
	margin: 0.4em 0;
}
.loginwrapper h5
{
	text-align: center;
	position: relative;
	width: 90%;
	display: block;
	margin: 0 auto;
}
.loginwrapper h5 span
{
	display: inline-block;
	color: #939393;
	padding-bottom: 1em;
}
.loginwrapper h5 span:before,
.loginwrapper h5 span:after
{
	border-top: 1px solid #939393;
    display: block;
    height: 1px;
    content: " ";
    width: 32%;
    position: absolute;
    left: 0;
    top: 0.8em;
}
.loginwrapper h5 span:after
{
	right: 0;  
   left: auto; 
}
.login
{
	padding: 2px 2em;
	vertical-align: middle;
}
.login span
{
	padding: 0.8em;
	background: #c1c1c1;
	color: rgb(107, 107, 107);
}
.login input[type=text]
{
	border: none;
	padding: 1em;
	min-width: 80%; 
	height: 100%;
}
.spanname
{
	border-bottom: 2px solid rgb(82, 196, 249);
}
.spanemail
{
	border-bottom: 2px solid rgb(73, 252, 147);
}
.spanpass
{
	border-bottom: 2px solid rgb(252, 88, 88);
}